name: CI
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ruby: ['2.6', '2.7', '3.0']
        rails: ['5.2', '6.0', '6.1', '7.0', '7.1']
        exclude:
        - ruby: '2.6'
          rails: '7.0'
        - ruby: '2.6'
          rails: '7.1'
        - ruby: '3.0'
          rails: '5.2'
    name: ruby${{ matrix.ruby }} rails${{ matrix.rails }} rake ${{ matrix.task }}
    # TODO: use setup-ruby with bundler-cache: true ... but that fails on always using deployment mode
    steps:
    - uses: zendesk/checkout@v2
    - uses: zendesk/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    # TODO: use regular bundle install once we are done with bundler v1
    - run: gem install matching_bundle && matching_bundle install
      env:
        BUNDLE_GEMFILE: gemfiles/rails${{ matrix.rails }}.gemfile
    - uses: zendesk/cache@v2
      with:
        path: vendor/bundle
        key: ${{ runner.os }}-${{ hashFiles('**/Gemfile.lock') }}
    - run: bundle exec rake
      env:
        BUNDLE_GEMFILE: gemfiles/rails${{ matrix.rails }}.gemfile
